<!-- Fenster -->
<div *ngIf="windowService.projectsWindowState !== 'minimized'">
  <div
    cdkDrag
    (mousedown)="windowService.activeWindow = 'projects'"
    class="window"
    [ngClass]="windowService.activeWindow === 'projects' ? 'active' : ''"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="projects.png" class="responsive-img" />
        Projects
      </div>
      <div>
        <button (click)="onMinimize()"><img src="minimize.png" /></button>
        <button><img src="maximize.png" /></button>
        <button (click)="onClose()"><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      <article>
        <aside class="picture">
          <!-- insert src image -->
          <img class="responsive-img" />
        </aside>
        <main>
          <h1>Portfolio</h1>
          <p>
            It's based on and inspired by the Windows-95 operatating system.
          </p>
        </main>
        <footer>
          <div class="tag-container">
            <div class="tag">Angular</div>
            <div class="tag">HTML</div>
            <div class="tag">CSS</div>
          </div>
          <div class="tag-container">
            <a href="https://github.com" target="_blank">GitHub</a>
            <a
              href="https://www.figma.com/design/LUpWIJ90kL2EQk9hOrVqVN/Untitled?node-id=0-1&t=Mg8FFxjJgDMSpotK-1"
              target="_blank"
              >Figma</a
            >
          </div>
        </footer>
      </article>

      <article>
        <aside class="picture">
          <!-- insert src image -->
          <img class="responsive-img" />
        </aside>
        <main>
          <h1>Semester Group Project</h1>
          <p>
            An app that helps young people with mental health issues to
            self-regulate.
          </p>
        </main>
        <footer>
          <div class="tag-container">
            <div class="tag">Figma</div>
            <div class="tag">Adobe Premiere</div>
          </div>
          <div class="tag-container">
            <a
              href="https://www.figma.com/design/QuvuJCMW7VQkRDO2mzQ8Vq/Mental-Health-Design?node-id=519-1720&t=eMGSlAL3TkfMM90t-1"
              target="_blank"
              >Figma</a
            >
          </div>
        </footer>
      </article>
      <div class="content"></div>
    </div>
  </div>
</div>
