<!-- Fenster -->
<div *ngIf="windowService.projectsWindowState !== 'minimized'">
  <div
    cdkDrag
    (mousedown)="windowService.activeWindow = 'projects'"
    class="window"
    [ngClass]="windowService.activeWindow === 'projects' ? 'active' : ''"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="projects.png" class="responsive-img" />
        Projects
      </div>
      <div>
        <button (click)="onMinimize()"><img src="minimize.png" /></button>
        <button><img src="maximize.png" /></button>
        <button (click)="onClose()"><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      In diesem Fenster wird ein Projekt dargestellt.
    </div>
  </div>
</div>
