<!-- Fenster -->
<div *ngIf="windowService.projectsWindowState !== 'minimized'">
  <div
    cdkDrag
    (mousedown)="windowService.activeWindow = 'projects'"
    class="window"
    [ngClass]="{
      active: windowService.activeWindow === 'projects',
      maximized: windowService.projectsWindowMaximized,
    }"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="projects.png" class="responsive-img" />
        Projekte
      </div>
      <div>
        <button (click)="onMinimize()"><img src="minimize.png" /></button>
        <button (click)="onToggleMaximize()"><img src="maximize.png" /></button>
        <button (click)="onClose()"><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      <article>
        <aside>
          <!-- insert src image -->
          <img src="Portfolio.png" class="responsive-img picture" />
        </aside>
        <main>
          <h1>Portfolio</h1>
          <p>
            Es basiert auf dem Windows-95 Betriebssystem <br />
            Es ist mein erstes Projekt, um die Grundlagen von Angular, HTML und
            CSS zu lernen. <br />
            Gleichzeitig möchte ich meine ersten praktischen Erfahrungen
            präsentieren. <br />
          </p>
        </main>
        <footer>
          <div class="tag-container">
            <div class="tag">Angular</div>
            <div class="tag">HTML</div>
            <div class="tag">CSS</div>
            <div class="tag">TypeScript</div>
            <div class="tag">Figma</div>
          </div>
          <div class="tag-container">
            <a
              href="https://github.com/alecvino/Portfolio_Windows95"
              target="_blank"
              >GitHub</a
            >
            <a
              href="https://www.figma.com/design/LUpWIJ90kL2EQk9hOrVqVN/Untitled?node-id=0-1&t=Mg8FFxjJgDMSpotK-1"
              target="_blank"
              >Figma</a
            >
          </div>
        </footer>
      </article>

      <article>
        <aside>
          <!-- insert src image -->
          <img
            src="icondesign/g2pTitelbild.png"
            class="responsive-img picture"
          />
        </aside>
        <main>
          <h1>Projekt zur Gestaltung 2</h1>
          <p>
            Dieses Modul besteht aus 3 praktischen Übungen: Icondesign,
            Screendesign, Inforamtionsdesign <br />
            <br />
            Gruppengröße: 1 <br />
            Dauer: 5 Monate <br />
            Status: laufend
          </p>
        </main>
        <footer>
          <div class="tag-container">
            <div class="tag">Adobe Illustrator</div>
          </div>
          <div class="tag-container">
            <button (click)="onOpenG2P()">Prozess Details</button>
            <!-- <a
              href="https://www.figma.com/design/QuvuJCMW7VQkRDO2mzQ8Vq/Mental-Health-Design?node-id=519-1720&t=eMGSlAL3TkfMM90t-1"
              target="_blank"
              >Figma</a> -->
          </div>
        </footer>
      </article>

      <article>
        <aside>
          <!-- insert src image -->
          <img src="luma.png" class="responsive-img picture" />
        </aside>
        <main>
          <h1>3. Semester Gruppenprojekt</h1>
          <p>
            Eine App, die jungen Leuten mit psychischen Erkrankungen bei der
            Selbstregulation helfen soll <br />
            <br />
            Gruppengröße: 3 <br />
            Dauer: 5 Monate <br />
            Status: abgeschlossen
          </p>
        </main>
        <footer>
          <div class="tag-container">
            <div class="tag">Figma</div>
            <div class="tag">Adobe Premiere</div>
          </div>
          <div class="tag-container">
            <button (click)="onOpenLuma()">Prozess Details</button>
            <a
              href="https://www.figma.com/design/QuvuJCMW7VQkRDO2mzQ8Vq/Mental-Health-Design?node-id=519-1720&t=eMGSlAL3TkfMM90t-1"
              target="_blank"
              >Figma</a
            >
          </div>
        </footer>
      </article>

      <article>
        <aside>
          <!-- insert src image -->
          <img src="wdwuTitelbild.png" class="responsive-img picture" />
        </aside>
        <main>
          <h1>4. Semester Gruppenprojekt</h1>
          <p>
            Konzeption und Design einer Web-App (Smartphone) sowie einer Weseite
            (Desktop) zum Thema "Vertrauenswürdige KI-Erlebnisse für Studierende
            gestalten" <br />
            <br />
            Gruppengröße: 2 <br />
            Dauer: 5 Monate <br />
            Status: laufend
          </p>
        </main>
        <footer>
          <!-- <div class="tag-container">
            <div class="tag">Figma</div>
          </div>-->
          <div class="tag-container">
            <button (click)="onOpenWDWU()">Prozess Details</button>
            <!-- <a
              href="https://www.figma.com/board/9XuMWYoW5qOdB56u0Wg53s/WDWU%C3%9C?node-id=0-1&t=mr5RIbKdh4ZcHekv-1"
              target="_blank"
              >Figma</a
            > -->
          </div>
        </footer>
      </article>

      <div class="content"></div>
    </div>
  </div>
</div>
