<!-- Taskbar unten -->
<div class="rectangle">
  <div class="rectangle-items">
    <div class="item"><img src="start.png" class="responsive-img" /> Start</div>
    @if (windowService.aboutWindowState !== "closed") {
      <div class="item" (click)="onAboutClick()">
        <img src="about.png" class="responsive-img" /> About me
      </div>
    }
    @if (windowService.projectsWindowState !== "closed") {
      <div class="item" (click)="onProjectsClick()">
        <img src="projects.png" class="responsive-img" /> Projects
      </div>
    }
    @if (windowService.folderWindowState !== "closed") {
      <div class="item" (click)="onFolderClick()">
        <img src="folder.png" class="responsive-img" /> Folder
      </div>
    }
  </div>
  <div class="item">
    <p>{{ formattedDate }}</p>
  </div>
</div>
