<!-- Taskbar unten -->
<div class="rectangle">
  <div class="rectangle-items">
    <div class="item"><img src="start.png" class="responsive-img" /> Start</div>
    @if (windowService.openWindowAbout) {
      <div class="item" (click)="this.windowService.activeWindow = 'about'">
        <img src="about.png" class="responsive-img" /> About me
      </div>
    }
    @if (windowService.openWindowProjects) {
      <div class="item" (click)="this.windowService.activeWindow = 'projects'">
        <img src="projects.png" class="responsive-img" /> Projects
      </div>
    }
  </div>
  <div class="item">12:00</div>
</div>
