<!-- Fenster -->
<div *ngIf="windowService.lumaWindowState !== 'minimized'">
  <div
    cdkDrag
    (mousedown)="windowService.activeWindow = 'luma'"
    class="window"
    [ngStyle]="{
      'top.px': 50,
      'left.px': 300,
    }"
    [ngClass]="{
      active: windowService.activeWindow === 'luma',
      maximized: windowService.lumaWindowMaximized,
    }"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="projects.png" class="responsive-img" />
        Luma Process
      </div>
      <div>
        <button (click)="onMinimize()"><img src="minimize.png" /></button>
        <button (click)="onToggleMaximize()"><img src="maximize.png" /></button>
        <button (click)="onClose()"><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      <h1>Luma Process Details (English)</h1>

      <h3>Step 1: Research</h3>
      <p>
        <u>Problem:</u> <br />
        - 1 in 5 young people struggle with mental health issues.
        <br />
        - 70% of mental health issues start in adolescence. <br />
        <br />
        <u>Emotional impact:</u> <br />
        - persistent sadness, anxiety, low self-worth <br />
        - social withdrawal from activities & relationships <br />
        <br />
        <u>Practical impact:</u> <br />
        - sleep disruption, declining school/work performance
        <br />
        - relationship conflicts, potential risk behaviors
        <br />
        <br />
        <u>Our solution:</u> <br />
        Luma, a mental health companion app for young people, providing a safe
        space to explore emotions and understand them. <br />
      </p>
      <h3>Step 2: User Interviews & Personas</h3>
      Based on the User Interviews, we created a Persona to always have the user
      in mind during the design process. <br />
      <img src="luma\lumaPersona.jpg" class="picture" />
      We also created a User Journey to better understand the different
      touchpoints of the user with the app and to identify potential pain
      points.
      <img src="luma\userJourney.png" class="picture" />
      <h3>Step 3: Moodboard</h3>
      We wanted our app to have a calming and supportive atmosphere. <br />
      <img src="luma\luma_moodboard.png" class="picture" />
      <h3>Step 4: Prototyping</h3>
      We created Wireframes for our UserTestings. <br />
      <br />
      <u>Take aways:</u> <br />
      - Users want a more personalized experience with customizable features
      <br />
      - Users want a clear differentiation between the own notes and the
      AI-generated insights
      <br />
      <br />
      <u>Our solutions:</u>
      <br />
      - personalized breathing exercises based on the user's current emotional
      state
      <br />
      - "Lui's Notes" and "Diary" sections to clearly separate AI insights and
      personal reflections
      <br />
      <img src="luma\Wireframes.png" class="picture" />
      Based on the Wireframes, we created a high-fidelity prototype in Figma.
      <img src="luma\Prototype.png" class="picture" />
      <!-- <h3>Step 5: Image video</h3> -->
      <div class="content"></div>
    </div>
  </div>
</div>
