<!-- Fenster -->
<div *ngIf="windowService.aboutWindowState !== 'minimized'">
  <div
    cdkDrag
    (mousedown)="windowService.activeWindow = 'about'"
    [ngClass]="windowService.activeWindow === 'about' ? 'active' : ''"
    class="window"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="about.png" class="responsive-img" />
        About me
      </div>
      <div>
        <button (click)="onMinimize()"><img src="minimize.png" /></button>
        <button><img src="maximize.png" /></button>
        <button (click)="onClose()"><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      <aside>
        <!-- insert src image -->
        <img src="profile.png" class="responsive-img picture" />
      </aside>
      <main>
        <h1>
          Mia <br />
          Gagel Colomer
        </h1>
        <br />
        <p>
          Beginner UX/UI Designer <br />
          Based in Augsburg & Ingolstadt
        </p>
      </main>
      <footer>
        I'm curreently in my 4th semester of my bachelor's degree in User
        Experience Design at the Technische Hochschule Ingolstadt. <br />
        I have a strong interest in the field of UX/UI design and am eager to
        learn and grow in this area. <br />
      </footer>

      <div class="content"></div>
    </div>
  </div>
</div>
