.window-title {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.window {
  position: absolute;
  top: 50px;
  left: 350px;
  width: 35%;
  height: 45%;
  border-style: outset;
  background-color: #c0c0c0;
}

.window-banner {
  width: 100%;
  height: 25px;
  background-color: #808080;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project-container {
  width: 100%;
  height: 92%;

  display: grid;
  /*border: dotted;*/

  overflow-y: auto;
  scroll-behavior: smooth;
}

.content {
  height: auto;
}

.picture {
  width: 150px;
  height: 150px;
  margin: 25px;
  border-style: solid;
  background-color: white;
}

main {
  grid-column: 4 / 13;
  grid-row: 1;
  margin: 25px;
  margin-top: 80px;
  margin-left: 0;
}
aside {
  grid-column: 1 / 4;
  grid-row: 1;
}
footer {
  grid-column: 1 / 13;
  grid-row: 2;
  margin-left: 25px;
  margin-bottom: 25px;
}
