<!-- Fenster -->
<div>
  <div
    [ngClass]="windowService.activeWindow === 'about' ? 'active' : ''"
    class="window"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="about.png" class="responsive-img" />
        About me
      </div>
      <div>
        <button><img src="minimize.png" /></button>
        <button><img src="maximize.png" /></button>
        <button><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      In diesem Fenster wird ein Biografie Stuff dargestellt.
    </div>
  </div>
</div>
