<!-- Fenster -->
<div *ngIf="windowService.aboutWindowState !== 'minimized'">
  <div
    cdkDrag
    (mousedown)="windowService.activeWindow = 'about'"
    class="window"
    [ngClass]="{
      active: windowService.activeWindow === 'about',
      maximized: windowService.aboutWindowMaximized,
    }"
  >
    <div class="window-banner">
      <div class="window-title">
        <img src="about.png" class="responsive-img" />
        Über mich
      </div>
      <div>
        <button (click)="onMinimize()"><img src="minimize.png" /></button>
        <button (click)="onToggleMaximize()"><img src="maximize.png" /></button>
        <button (click)="onClose()"><img src="close.png" /></button>
      </div>
    </div>
    <div class="project-container">
      <aside>
        <!-- insert src image src="profile.png"  -->
        <img class="responsive-img picture" />
      </aside>
      <main>
        <h1>
          Mia <br />
          Gagel Colomer
        </h1>
        <br />
        <p>
          Beginner UX/UI Designer <br />
          in Augsburg & Ingolstadt
        </p>
        <!--(click)="downloadCV()"-->
        <button>Download CV</button>
      </main>
      <footer>
        Ich bin in meinem 4ten Semester an der Technischen Hochschule
        Ingolstadt. Ich interesse mich sowohl für Design als auch den
        technischen Aspekt der Umsetzung und versuche mit meinem Portfolio
        beides zu vereinen. In meiner Freizeit gehe ich gerne Bouldern.<br />
      </footer>

      <div class="content"></div>
    </div>
  </div>
</div>
