/* You can add global styles to this file, and also import other style files */
body {
  background-color: #008080;
  font-family: MS Sans Serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.active {
  z-index: 9999 !important;
}

.background-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  opacity: 0.5;
  text-align: center;
}
