/* You can add global styles to this file, and also import other style files */
body {
  background-color: #008080;
  font-family: MS Sans Serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.active {
  z-index: 9999 !important;
}
