/* You can add global styles to this file, and also import other style files */
body {
  background-color: #008080;
}

.window-title {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.rectangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  border-style: outset none none none;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rectangle-items {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.item {
  display: flex;
  align-items: center;
  border-style: outset;
  width: auto;
  height: 25px;
  padding: 0px 5px;
}

.responsive-img {
  width: auto;
  height: 100%;
}

.window {
  position: absolute;
  top: 50px;
  left: 350px;
  width: 30%;
  height: 45%;
  border-style: outset;
  background-color: #c0c0c0;
}

.window-banner {
  width: 100%;
  height: 25px;
  background-color: #808080;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: 30px;
  width: 50px;
  height: 100%;
  text-align: center;
}

.project-container {
  width: 100%;
  height: 100%;
  display: flex;
  border: dotted;
  align-items: center;
  justify-content: center;
}
